<section class="banner">
    <div class="banner-content">
        <h2>Best Deal Online on Smartphones</h2>
        <h1>SMART PHONES.</h1>
        <p>UP to 80% OFF</p>
        <div class="dots">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>
    <div class="banner-image">
        <img src="assets/images/mobile.jpg" alt="Smartphones">
    </div>
    <div class="background-circles">
        <div class="circle big-circle"></div>
        <div class="circle small-circle"></div>
    </div>
    <button class="carousel-button left-button">
        <i class="fas fa-chevron-left"></i>
    </button>
    <button class="carousel-button right-button">
        <i class="fas fa-chevron-right"></i>
    </button>
</section>
