<div class="deals-section">
    <div class="deals-header">
      <h2>Grab the best deal on <span>Smartphones</span></h2>
      <a href="#" class="view-all">View All</a>
    </div>
  
    <div class="product-carousel-wrapper">
    <button class="carousel-btn left-btn" (click)="scrollLeft()">&#8249;</button>
    <div class="product-cards-container" id="scrollable-container">
      <div class="product-cards">
        <div class="product-card">
          <div class="discount-badge">55% OFF</div>
          <img src="assets/images/mobile.jpg" alt="Galaxy S22 Ultra" class="product-image" />
          <p class="product-name">Galaxy S22 Ultra</p>
          <p class="product-price">Rs 32999</p>
          <p class="product-tag">Lowest Price!</p>
        </div>
  
        <div class="product-card">
          <img src="assets/images/mobile.jpg" alt="Galaxy M13 (4GB | 64 GB)" class="product-image" />
          <p class="product-name">Galaxy M13 (4GB | 64 GB)</p>
          <p class="product-price">Rs 32999</p>
          <p class="product-tag">Lowest Price!</p>
        </div>
  
        <div class="product-card">
          <img src="assets/images/mobile.jpg" alt="Galaxy M33 (4GB | 64 GB)" class="product-image" />
          <p class="product-name">Galaxy M33 (4GB | 64 GB)</p>
          <p class="product-price">Rs 32999</p>
          <p class="product-tag">Lowest Price!</p>
        </div>
  
        <div class="product-card">
          <img src="assets/images/mobile.jpg" alt="Galaxy M53 (4GB | 64 GB)" class="product-image" />
          <p class="product-name">Galaxy M53 (4GB | 64 GB)</p>
          <p class="product-price">Rs 32999</p>
          <p class="product-tag">Lowest Price!</p>
        </div>
  
        <div class="product-card">
          <img src="assets/images/mobile.jpg" alt="Galaxy M53 (4GB | 64 GB)" class="product-image" />
          <p class="product-name">Galaxy M53 (4GB | 64 GB)</p>
          <p class="product-price">Rs 32999</p>
          <p class="product-tag">Lowest Price!</p>
        </div>

        <div class="product-card">
            <img src="assets/images/mobile.jpg" alt="Galaxy M53 (4GB | 64 GB)" class="product-image" />
            <p class="product-name">Galaxy M53 (4GB | 64 GB)</p>
            <p class="product-price">Rs 32999</p>
            <p class="product-tag">Lowest Price!</p>
          </div>
    
          <div class="product-card">
            <img src="assets/images/mobile.jpg" alt="Galaxy M53 (4GB | 64 GB)" class="product-image" />
            <p class="product-name">Galaxy M53 (4GB | 64 GB)</p>
            <p class="product-price">Rs 32999</p>
            <p class="product-tag">Lowest Price!</p>
          </div>

          <div class="product-card">
            <img src="assets/images/mobile.jpg" alt="Galaxy M53 (4GB | 64 GB)" class="product-image" />
            <p class="product-name">Galaxy M53 (4GB | 64 GB)</p>
            <p class="product-price">Rs 32999</p>
            <p class="product-tag">Lowest Price!</p>
          </div>
    
          <div class="product-card">
            <img src="assets/images/mobile.jpg" alt="Galaxy M53 (4GB | 64 GB)" class="product-image" />
            <p class="product-name">Galaxy M53 (4GB | 64 GB)</p>
            <p class="product-price">Rs 32999</p>
            <p class="product-tag">Lowest Price!</p>
          </div>
      </div>
      </div>
      <button class="carousel-btn right-btn" (click)="scrollRight()">&#8250;</button>
    </div>
  </div>
  